Repository mando-collabs/hi-user-im-dad: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js:fix",
  "*.{css,html,json}": "npx prettier --write"
}

run lint:js:fix
  app/components/AddJokeForm.tsx
  app/components/Header.tsx
  app/components/JokeQueue.tsx
  app/components/MyJokes.tsx
  app/components/PageLoader.tsx
  app/components/PlaceholderAvatar.tsx
  app/components/RefreshRandomJokeForm.tsx
  app/components/Tabs.tsx
  app/routes/__index.tsx
  app/routes/__index/add-joke.tsx
  app/routes/__index/index.ts
  app/routes/__index/my-jokes.tsx
  app/routes/api/jokes.ts
  app/routes/auth/github.callback.tsx
  app/routes/auth/github.tsx
  app/routes/logout.ts
  app/services/base-service.server.ts
  app/types/FormComponentProps.ts
  app/utils/auth.server.ts
Due: npm run lint:js:fix

Update renovate.json
  renovate.json
Due: npx prettier --write

Add NPM_CONFIG_USERCONFIG to netlify toml file
  netlify.toml
Due: none

group react monorepo with react types
  renovate.json
Due: npx prettier --write

navigate when user changes tab select on mobile
  app/components/Tabs.tsx
Due: npm run lint:js:fix

import useLocation from @remix-run/react
  app/components/Tabs.tsx
Due: npm run lint:js:fix

make sure nav select stays in sync with route
  app/components/Tabs.tsx
Due: npm run lint:js:fix

add a placeholder if user has no jokes
  app/routes/__index/my-jokes.tsx
Due: npm run lint:js:fix

transition @justinwaite/tailwind-ui to @mando-collabs/tailwind-ui
  .npmrc
  app/components/AddJokeForm.tsx
  app/components/JokeQueue.tsx
  app/components/MyJokes.tsx
  app/components/RandomJokeForm.tsx
  app/components/RefreshRandomJokeForm.tsx
  app/components/UserMenu.tsx
  app/routes/login.tsx
  app/utils/session.server.ts
  config/.npmrc
  package-lock.json
  package.json
  tailwind.config.js
Due: npm run lint:js:fix, npx prettier --write

update tailwind-ui to get rid of console warning
  package-lock.json
  package.json
Due: npx prettier --write

set deliveredAt when marked as delivered
  app/services/joke-service.server.ts
Due: npm run lint:js:fix

show createdAt date on my jokes
  app/components/MyJokes.tsx
  app/services/joke-service.server.ts
Due: npm run lint:js:fix

add ability to delete your jokes
  .lintstagedrc.js
  .lintstagedrc.json
  app/components/AddJokeForm.tsx
  app/components/MyJokes.tsx
  app/components/RandomJokeForm.tsx
  app/forms/joke-schemas.ts
  app/routes/api/jokes.ts
  app/routes/api/jokes/$id.ts
  app/services/joke-service.server.ts
  package-lock.json
  package.json
Due: npm run lint:js:fix, npx prettier --write

update delete joke method to use deleteMany
  app/services/joke-service.server.ts
  netlify.toml
  prisma/schema.prisma
Due: npm run lint:js:fix

add endpoint to fetch jokes queue, incorporate into fetcher in jokes queue
  app/components/JokeQueue.tsx
  app/routes/api/jokes/queued.ts
Due: npm run lint:js:fix

better session security
  app/utils/session.server.ts
Due: npm run lint:js:fix

better session security (#12)
  app/utils/session.server.ts
Due: npm run lint:js:fix

rating component
  app/components/JokeQueue.tsx
  app/components/JokeRatingForm.tsx
Due: npm run lint:js:fix

fix random joke button
  app/components/RefreshRandomJokeForm.tsx
Due: npm run lint:js:fix

add pusher integration with queued and delivered statuses
  app/components/ClientOnlyProvider.tsx
  app/components/JokeQueue.tsx
  app/components/PusherProvider.tsx
  app/hooks/use-pusher-event.ts
  app/root.tsx
  app/routes/__index.tsx
  app/routes/api/jokes/delivered.ts
  app/routes/api/jokes/queued.ts
  app/types/JokeEvent.ts
  app/utils/pusher.server.ts
  package-lock.json
  package.json
Due: npm run lint:js:fix, npx prettier --write

update rating schema
  prisma/schema.prisma
Due: none

add ratings endpoint & service
  app/forms/rating-schemas.ts
  app/routes/api/jokes/$id/rate.ts
  app/services/ratings-service.server.ts
Due: npm run lint:js:fix
