Repository mando-collabs/hi-user-im-dad: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js:fix, npx prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": "npm run lint:js:fix",
  "*.{css,html,json}": "npx prettier --write"
}

wrap up rating submission component
  app/components/JokeQueue.tsx
  app/components/JokeRatingForm.tsx
  app/components/RateJokeForm.tsx
Due: npm run lint:js:fix

fix the new joke button v2
  app/components/RefreshRandomJokeForm.tsx
  app/routes/api/jokes/random.ts
Due: npm run lint:js:fix

fix bug to take most fresh jokes
  app/components/JokeQueue.tsx
Due: npm run lint:js:fix

exclude icons-pack from node_modules in netlify functions
  netlify.toml
Due: none

switch to fly.io for hosting
  .dockerignore
  .eslintignore
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .gitignore
  Dockerfile
  README.md
  app/utils/auth.server.ts
  config/.npmrc
  fly.toml
  netlify.toml
  package-lock.json
  package.json
  remix.config.js
  server.js
  start_with_migrations.sh
  tsconfig.json
Due: npm run lint:js:fix, npx prettier --write

add node_auth_token to github actions
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

try again
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

turns out gh is stupid and does not have org level permissions for the actions access token
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

show other ratings next to joke
  app/components/JokeQueue.tsx
  app/components/RateJokeForm.tsx
  app/routes/__index.tsx
  app/services/joke-service.server.ts
Due: npm run lint:js:fix

im going to lose my mind
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

its lost
  .github/workflows/pr.yml
Due: none

ive been reduced to logging things
  .github/workflows/pr.yml
Due: none

okay cool
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

whoops
  .gitignore
  Dockerfile
Due: none

use hydrateRoot for React 18
  app/entry.client.tsx
Due: npm run lint:js:fix

fix deploy
  .github/workflows/main.yml
  Dockerfile
  package.json
Due: npx prettier --write

this should actually fix it
  .github/workflows/main.yml
  package.json
Due: npx prettier --write

pin some deps
  package.json
Due: npx prettier --write

pin react-use
  package.json
Due: npx prettier --write

fix PusherProvider children type
  app/components/ClientOnlyProvider.tsx
  app/components/PusherProvider.tsx
Due: npm run lint:js:fix

update readme
  README.md
Due: none

pr feedback
  app/components/RateJokeForm.tsx
  app/routes/api/jokes/$id/rate.ts
Due: npm run lint:js:fix

package lock
  package-lock.json
Due: npx prettier --write

Bm/rating system (#16)
  app/components/JokeQueue.tsx
  app/components/RateJokeForm.tsx
  app/forms/rating-schemas.ts
  app/routes/__index.tsx
  app/routes/api/jokes/$id/rate.ts
  app/services/joke-service.server.ts
  app/services/ratings-service.server.ts
  package-lock.json
  prisma/schema.prisma
Due: npm run lint:js:fix, npx prettier --write

integration ratings with pusher
  app/components/JokeQueue.tsx
  app/hooks/use-pusher-event.ts
  app/routes/api/jokes/$id/rate.ts
  app/types/JokeEvent.ts
  app/types/RateEvent.ts
Due: npm run lint:js:fix

consolidate db calls into service
  app/routes/api/jokes/$id/rate.ts
  app/services/ratings-service.server.ts
Due: npm run lint:js:fix

add meta functions
  app/routes/__index.tsx
  app/routes/login.tsx
Due: npm run lint:js:fix

extract optimistic ui logic
  app/components/JokeQueue/JokeQueue.tsx
  app/components/JokeQueue/index.ts
  app/components/JokeQueue/use-optimistic-jokes.ts
  app/components/RateJokeForm.tsx
Due: npm run lint:js:fix

make the lorem ipsum sentences sticky
  app/services/joke-service.server.ts
  app/utils/lorem.ts
Due: npm run lint:js:fix

fix lint issues
  app/components/JokeQueue/JokeQueue.tsx
  app/components/MyJokes.tsx
  app/components/RandomJokeForm.tsx
  app/components/RateJokeForm.tsx
  app/routes/__index.tsx
  app/routes/login.tsx
Due: npm run lint:js:fix

fix more lint problems
  app/components/Header.tsx
  app/components/PageLoader.tsx
  app/components/PlaceholderAvatar.tsx
  app/components/Tabs.tsx
  app/components/UserMenu.tsx
  app/routes/__index/add-joke.tsx
Due: npm run lint:js:fix

use the updated import for FormMethod
  app/types/FormComponentProps.ts
Due: npm run lint:js:fix

update schema.prisma
  prisma/schema.prisma
Due: none

Add GitHub token & .env setup instructions
  README.md
Due: none

Update README.md
  README.md
Due: none

[UI] Add emoji reactions
  app/components/RateJokeForm.tsx
  tailwind.config.js
Due: npm run lint:js:fix

[README] Add GitHub token & .env setup instructions (#36)
  README.md
Due: none

[UI] Add emoji reactions (#37)
  app/components/RateJokeForm.tsx
  tailwind.config.js
Due: npm run lint:js:fix
